<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Cotización</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        section {
            padding: 20px;
        }
    </style>
</head>
<body>
    <header>
        <%- include('partials/header.ejs') %>
        <%- include('partials/nav.ejs') %>
    </header>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form id="formularioCotizacion" action="cotizacion" method="post">
                        <div class="text-center mb-4">
                            <img src="/img/logo.png" alt="Logo" class="img-fluid">
                            <h2>Toyota Mazatlan</h2>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="numFolio" placeholder="Num Folio">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="descripcion" placeholder="Descripción">
                        </div>
                        <div class="form-group">
                            <input type="number" id="precio" class="form-control" name="precio" placeholder="Precio" step="0.01">
                        </div>
                        <div class="form-group">
                            <input type="number" id="porcentajePagoInicial" class="form-control" name="porcentajePagoInicial" placeholder="Porcentaje pago inicial" step="0.01">
                        </div>
                        <div class="form-group">
                            <select id="plazos" class="form-control" name="plazos">
                                <option value="">Plazos</option>
                                <option value="3">3 meses</option>
                                <option value="6">6 meses</option>
                                <option value="12">12 meses</option>
                                <option value="24">24 meses</option>
                                <option value="36">36 meses</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Calcular</button>
                        <button type="reset" class="btn btn-secondary">Limpiar</button>
                        <div class="mt-3">
                            <label for="pagoInicial">Pago inicial: </label>
                            <input type="text" id="pagoInicial" class="form-control" readonly>
                        </div>
                        <div>
                            <label for="total">Total: </label>
                            <input type="text" id="total" class="form-control" readonly>
                        </div>
                        <div>
                            <label for="pagoMensual">Pago mensual: </label>
                            <input type="text" id="pagoMensual" class="form-control" readonly>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <%- include('partials/footer.ejs') %>
</body>
<script>
    document.getElementById("formularioCotizacion").addEventListener("submit", function(event) {
        event.preventDefault();

       
        const precio = parseFloat(document.getElementById("precio").value);
        const porcentajePagoInicial = parseFloat(document.getElementById("porcentajePagoInicial").value);
        const plazos = parseInt(document.getElementById("plazos").value);

        const pagoInicial = precio * (porcentajePagoInicial / 100);
        const total = precio - pagoInicial;
        const pagoMensual = total / plazos;

        if (!isNaN(pagoMensual) && isFinite(pagoMensual)) {
            document.getElementById("pagoInicial").value = pagoInicial.toFixed(2);
            document.getElementById("total").value = total.toFixed(2);
            document.getElementById("pagoMensual").value = pagoMensual.toFixed(2);
        } else {
            alert("Error en el cálculo");
        }
    });
</script>
</html>

