<%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis aliquid repellendus perspiciatis earum magni error recusandae mollitia possimus saepe praesentium laboriosam cumque est deserunt ullam consequatur, eaque vitae voluptates adipisci omnis reprehenderit velit! Provident voluptates dicta sequi ipsum distinctio iusto.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, distinctio voluptate dolorem ducimus quisquam laborum dicta inventore! Fugit facere, neque perferendis error architecto eligendi, tempora minima quo temporibus, provident porro!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam dolores culpa odit at, porro, magni nam recusandae nobis voluptatem reiciendis minima maxime rerum, voluptatum voluptates eum nesciunt illo nostrum? Accusamus?
    </p>
    <%-include('partials/footer.ejs')%>
    </body>
</html>
